body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #2a2c3f;
  color: white;
  
  
}

.main{
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr 2.5fr;
  grid-template-rows: 80px 1fr;
  grid-template-areas: 'nb nb nb'
                       'sb cn cn'
                       'sb content content'
                       'sb footer footer';
   
  grid-gap: 5px;  
}

.Nav{
  grid-area: nb;
  display: flex;
  flex-direction: row;
  padding: 1px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  align-items: center;
  justify-content: space-between;

  
}

.content{
  grid-area: cn;
  margin-top: 2rem;
  background-color: steelblue;
  padding: 20px;
  
}

.left{
  width: 40%;

}
.navLeft{
  display: flex;
  width: 90%;
  flex-direction: row;
  gap: 50px;
  padding-left:5rem;
  font-size: 20px;

}

.center{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  grid-area: dc;
  width:10%;
}

.navCenter{
  display: flex;
  align-items: center;
  justify-content: center;  
  width: 70%;
 
}
.side{
  grid-area: sb;
  margin-top: 4rem;
  background-color: steelblue;
  width: 30vh;
  height: 100%;

}

.content_to_write{
  grid-area: content;
  height: 80vh;
  background-color: steelblue;
}
.footer{
  grid-area: footer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


