.Section{
    width: 80%;
    height: 90%;
    margin-left: 10%;
    display:flex;
    flex-direction: column;
    align-items: center;
    /* border:2px solid orange; */
}

.Section1{
    font-size: 2rem;
    margin-top: 5%;
    margin-bottom: 4%;
    border: 2px solid red;
    padding-left: 100px;
    padding-right:100px;
    padding-top: 1%;
    padding-bottom: 1%;
}
.Section2{
    width: 80%;
    border-radius: 1rem;
    margin-top: 4%;
    padding:10px;
}

.btn_rating_1{
    margin-left: 47%;
    padding-left: 2.8%;
    padding-right: 2.8%;
    justify-content: right;
    align-items:right;
    width: 15%;
    height: 60%;
    margin-top:1%;
}
.btn_rating_2{
    margin-left: 48.5%;
    padding-left: .8%;
    padding-right: .8%;
    justify-content: right;
    align-items:right;
    width: 15%;
    height: 60%;
    margin-top:1%;
}

.Section3{
    margin-top: 4%;
    border-radius: 1rem;
    height: 12%;
    width: 90%;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
    padding-top:1%;
    padding-left: 1%;
}
